#main-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
#play-area {
    margin-top: 25px;
    max-width: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#buttons {
    margin-top: 50px;
}

#buttons > button {
    margin: 0px 10px;
}
